<section class="min-h-screen bg-gradient-to-b from-neutral via-black/80 to-black">
    <!--  -->
    <nav class="navbar bg-neutral/50 backdrop-blur-md shadow-md px-4 lg:px-12 border-b border-primary/20">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl font-black tracking-tighter text-primary">
                T.R.I.T
            </a>
        </div>

        <div class="flex-none">
            <ul class="menu menu-horizontal px-1 font-bold gap-2 text-gray-200">
                <li class="hidden sm:block">
                    <a routerLink="/bank/profile" class="hover:text-primary">
                        Perfil
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!--  -->
    <div class="max-w-4xl mx-auto p-6 space-y-10">
        <div class="stats shadow-2xl bg-gradient-to-b via-black/50 to-neutral/80 w-full border border-white/10 backdrop-blur-md">

            <div class="stat">
                <div class="stat-title text-gray-400">
                    Saldo Disponible
                </div>
                <div class="stat-value text-primary text-5xl font-mono">
                    ₿ 12,450.00
                </div>

                <div class="stat-actions mt-4 flex gap-2">
                    <button routerLink="/bank/transfer" class="btn btn-sm btn-ghost border border-white/10">
                        Transferir
                    </button>
                </div>
            </div>

            <!-- todo cambaiar -->
            <div class="stat hidden md:grid">
                <div class="stat-title text-gray-400">
                    Account Key
                </div>
                <div class="stat-value text-sky-300 text-2xl font-mono bg-black/40 px-3 py-1 rounded-lg shadow-md">
                    1234 5678 90
                </div>
                <!-- todo hacer que funcione -->
                <button class="btn btn-sm btn-ghost border border-white/10 mt-2 italic">
                    Copiado al portapapeles
                </button>
            </div>
        </div>

        <section class="card bg-neutral/80 backdrop-blur-md shadow-xl border border-white/10">
            <div class="card-body p-0">

                <div class="flex justify-between items-center p-6 pb-2 border-b border-white/10">
                    <h2 class="card-title font-bold text-lg uppercase tracking-wider text-white">
                        Últimos Movimientos
                    </h2>
                    <a routerLink="/bank/history" class="btn btn-ghost btn-xs text-primary">
                        Ver todos
                    </a>
                </div>

                <div class="overflow-x-auto">
                    <table class="table table-zebra w-full">
                        <thead class="bg-neutral/70 text-gray-200">
                            <tr>
                                <th>Concepto</th>
                                <th>Estado</th>
                                <th class="text-right">Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="hover">
                                <td>
                                    <div class="flex items-center gap-3">
                                        <div class="avatar placeholder">
                                            <div class="bg-success/20 text-success rounded-full w-8 flex items-center justify-center">
                                                <span>↓</span>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="font-bold text-white">
                                                Pago Nómina
                                            </div>
                                            <div class="text-xs opacity-50">
                                                28 Ene 2026
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <span class="badge badge-success badge-sm">
                                        Completado
                                    </span>
                                </td>
                                <td class="text-right font-bold text-success">
                                    + ₿ 500.00
                                </td>
                            </tr>

                             <tr class="hover">
                                <td>
                                    <div class="flex items-center gap-3">
                                        <div class="avatar placeholder">
                                            <div class="bg-success/20 text-success rounded-full w-8 flex items-center justify-center">
                                                <span>↓</span>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="font-bold text-white">
                                                Pago de no se que
                                            </div>
                                            <div class="text-xs opacity-50">
                                                28 Ene 2026
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <span class="badge badge-success badge-sm">
                                        Completado
                                    </span>
                                </td>
                                <td class="text-right font-bold text-success">
                                    + ₿ 500.00
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </section>

    </div>
</section>
